:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #FFF;
  --preto: #000;
  --cinza-claro: #e2e2e2;
}

body {
  margin: 0;
  background-color: var(--branco);
  font-family: var(--fonte);
  color: var(--preto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
